.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 180px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 90%;
  overflow: hidden;
  text-align: center;
  background:rgb(33, 33, 34);
}
.card > .img-container > img {
  width: 85%;
  height: 100%;
}

.card > .content {
  padding-right: 1%;
  font-size: 15px;
  color: black;
}

.charName{
  font-weight: bold;
  font-family: 'Cinzel Decorative', cursive;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 8px;
  font-family: 'Cinzel Decorative', cursive;
}
